<% layout("/layouts/boilerplate") %>
<body>
    <form method="post" action="/listings/<%=listing._id %>?_method=PUT" enctype="multipart/form-data">
        <!--here we are making key object pair by like listing[title] . listing is the route on which we get post request-->
        <div class="row">
        <div class="col-7 offset-2"> 
            <div class="mb-3">
                <label for="title" class="form-lable">Title</label>
                <input type="text" name="listings[title]" value="<%=listing.title %>" class="form-control">
            </div>
            <div class="mb-3">
                <label for="description" class="form-lable">Description</label>
                <textarea type="text" name="listings[description]" class="form-control"><%=listing.description %></textarea>
            </div>
            <div class="mb-3">
                original image <br>
                <img src="<%= originalUrl %>" alt="" style="width: 10rem; height: 100px;">
            </div>
        <div class="mb-3">
            <label for="image" class="form-lable">Image</label>
            <input type="file" name="listings[image]" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-lable">Price</label>
                <input type="number" name="listings[price]"value="<%=listing.price %>" class="form-control">
            </div >

            <div class="mb-3 col-md-8">
                <label for="country" class="form-lable">country</label>
                <input type="text" name="listings[country]" value="<%=listing.country %>"class="form-control">
            </div>
        </div>
       
        <div class="mb-3">
            <label for="location" class="form-lable">Location</label>
            <input type="text" name="listings[location]" value="<%=listing.location %>" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-dark">Create</button>
    </form>
    </div>
    </div>
    <br>
</body>
</html>