<% layout("/layouts/boilerplate") %>
<%- include("../includes/horizontalMenu.ejs") %>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-3 mb-3 mt-1"> 
        <% for(let listing of allListings){ %>
            <div class="col">
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card h-100 listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="..." style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b>
                                <br>
                                Price : &#8377;<%= listing.price.toLocaleString("en-IN") %> /night
                                <i class="after-tax"> &nbsp; +18% taxes</i>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
</body>
</body>

<script>
const hotelList = document.querySelector('.hotel-list');
const rightBtn = document.getElementById('right-btn');
const leftBtn = document.getElementById('left-btn');
const displayBeforeTaxes = document.getElementById('flexSwitchCheckDefault');
const afterTax = document.querySelectorAll('.after-tax');

rightBtn.addEventListener('click', () => {
    hotelList.scrollBy({ left: 300, behavior: 'smooth' });
});

leftBtn.addEventListener('click', () => {
    hotelList.scrollBy({ left: -300, behavior: 'smooth' });
});

displayBeforeTaxes.addEventListener("click", ()=>{
    for(tax of afterTax){
        tax.style.display = displayBeforeTaxes.checked ? 'block' : 'none';
    }
})

</script>
